# Configurações locais do IntelliJ IDEA
.idea/
*.iml
out/
gen/

# Arquivos compilados do Java
*.class

# Configurações do Eclipse
.metadata/
.recommenders/
bin/
.settings/
.project
.classpath

# Arquivos de sistema operacional
.DS_Store
Thumbs.db